{% extends 'base_main.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="news-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="news-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                {% if news is null %}
                    <h3 class="text-center first-color-text margin-top-70">Nothing found</h3>
                {% endif %}
                {% if news.picture is null %}
                    <img src="{{ asset('public/img/no-photo.png') }}" class="news-image">
                {% else %}
                    <img src="{{ asset('uploads/user_images/' ~ news.picture) }}" class="news-image">
                {% endif %}
                <div class="text-center margin-top-10">
                    <p>Author: <b>{{ news.author.email }}</b>. Date: <b>{{ news.date|date }}</b>. Number of Views: <b>{{ news.viewsCount }}</b></p>
                </div>

                <h3>{{ news.title }}</h3>
                <p>
                    {{ news.text|raw }}
                </p>
                {% if news.similarArticles|length != 0 %}
                    <h5>Similar news:</h5>
                    <ul>
                        {% for one_news in news.similarArticles %}
                            <li><a href="{{ path('news-page', {'id': one_news.id}) }}">{{ one_news.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript"  src="{{ asset('public/js/watch-updater.js') }}"></script>
{% endblock %}

